/* Global settings */
html, body{
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #7e878f;
}

h1, h2, h3, h4 {
    text-transform: uppercase;
    font-weight: 800;
}

h2 {
    font-size: 3.750em;
    color: #2c3e50;
    text-align: center;
    margin-top: 130px;
}

h3 {
    font-size: 1.375em;
    color: #2c3e50;
}

h4 {
    font-size: 1.250em;
    margin-top: 0;
}

h5 {
    font-size: 1em;
}

address {
    margin-bottom: 10px;
}

address a, address a:hover {
    color: #7e878f;
}

.divider {
    background-color: #e74c3c;
    display: block;
    margin: 40px auto;
    width: 60px;
    height: 2px;
}

.divider-project {
    background-color: #fff;
    display: block;
    margin: 40px auto;
    width: 60px;
    height: 2px;
}

.parallax {
    background-attachment: fixed !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #FFFFFF;
}

.btn {
    text-transform: uppercase;
    background-color: #e74c3c;
    font-size: 0.875em;
    font-weight: 800;
    margin-top: 31px;
    -webkit-transition: all 250ms linear;
    -moz-transition: all 250ms linear;
    -o-transition: all 250ms linear;
    transition:         all 250ms linear;
}

.btn-primary {
    border-color: #e74c3c;
}

.btn:hover {
    background-color: rgba(231,76,60,0.8);
}

.btn-primary:hover {
    border-color: rgba(231,76,60,0.8);
}

.btn-group-lg>.btn, .btn-lg {
    padding: 10px 25px;
}

.overlay {
    background-color: rgba(0,0,0,0.75);
    height: 100%;
}

/* Header */
header {
    background-image: url(../images/header-bg-image.jpg);
    width: 100%;
    /*height: 100%;*/
}

.header-content {
    text-align: center;
    width: 99.2%;
    padding: 97px 0;
}

.header-content .header-logo {
    border-radius: 5%;
}

.header-content h1, .header-content h2 {
    color: #fff;
}

.header-content h1 {
    font-size: 5.625em;
    margin-top: 60px;
}

.header-content h2 {
    font-size: 2.063em;
    margin-top: 30px;
}

.header-content .scroll-down {
    margin-top: 180px;
}

/* Navbar */
.navbar {
    border: none;
    margin-bottom: 0;
    z-index: 101;
}

.navbar-nav {
    text-transform: uppercase;
}

.navbar-content {
    max-width: 1170px;
    margin: 0 auto;
}

.navbar-header {
    margin-right: 15% !important;
}

.navbar-content li a {
    font-size: 0.938em;
    font-weight: 900;
}

.navbar-default {
    background-color: #fff;
    border-color: #fff;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:    0px 3px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow:         0px 3px 5px 0px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
}

.navbar-default .navbar-nav>li>a {
    color: #777777;
    -webkit-transition: all 600ms ease;
    transition:         all 600ms ease;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #e74c3c;
}

.navbar-brand {
    padding: 0;
    border-radius: 5%;
    margin-left: 0 !important;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #e74c3c;
    background-color: #fff;
    letter-spacing: 2px;
}

/* About */
#about {
    max-width: 1170px;
    margin: 0 auto;
}

#about img {
    border-radius: 5%;
}

.bio {
    margin-top: 65px;
}

.signature {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    font-family: 'Arizonia', cursive;
    font-size: 1.875em;
    color: #2c3e50;
}

.fa-download:before {
    margin-right: 10px;
    vertical-align: middle;
}

.hobby {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px 0;
}

.hobbies-box ul {
    padding: 0;
    margin-top: 25px;
    display: inline-block;
}

.hobbies-box ul li {
    background-color: #f1f1f1;
    display: inline-block;
    float: left;
    margin: 0 10px 10px 0;
    width: 110px;
    text-align: center;
    padding: 14px;
}

/* Resume */
#resume {
    background-color: #f0f2f7;
    margin-top: 100px;
}

#resume h3 {
    margin-top: 10px;
}

.cd-company {
    display: inline-block;
    font-size: 1em;
    color: #2c3e50;
    font-weight: 800;
    margin-bottom: 15px;
}

.cd-headline {
    text-transform: uppercase;
    color: #2c3e50;
    background-color: #dbdee6;
    font-size: 2.250em;
    font-weight: 800;
    padding: 1% 2%;
}

.cd-timeline-img .fa.fa-briefcase {
    margin-left: 10px;
    margin-top: 10px;
}

.cd-timeline-img .fa.fa-graduation-cap {
    margin-left: 5px;
    margin-top: 11px;
}

/* Stripe-banner */
#stripe-banner {
    background-image: url(../images/stripe-banner.jpg);
}

.stripe-banner-content {
    width: 99.2%;
    text-align: center;
    padding: 90px 0;
}

.stripe-banner-content span {
    display: block;
    font-size: 2.250em;
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
}

.linkedin-btn {
    background-color: #1B86BC;
    border-color: #1B86BC;
    margin-top: 68px;
}

.linkedin-btn:hover {
    background-color: rgba(27,134,188,0.8);
    border-color: rgba(27,134,188,0.8);
}

.fa-linkedin:before {
    margin-right: 10px;
    vertical-align: middle;
}

/* Skills */
#skills {
    max-width: 1170px;
    margin: 0 auto;
}

.chart-container {
    margin-bottom: 90px;
}

.chart {
  position: relative;
  padding: 0 10px;
  display: block;
  margin: 0 auto;
  width: 170px;
  height: 170px;
  text-align: center;
}

.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.percent {
  display: inline-block;
  line-height: 170px;
  z-index: 2;
}

.percent:after {
  content: '%';
  margin-left: 0.1em;
  font-size: .8em;
}

.chart h3 {
    text-align: center;
    text-transform: uppercase;
}

.chart p{
    color: #9fa3a9;
    font-size: 50px;
    line-height: 170px;
}

.chart p sup{
    font-size: 18px;
    top: -1.2em;
}

.skills-content{
    text-align: center;
}

/* Projects */
#projects {
    background-color: #f0f2f7;
    margin-top: 50px;
    padding-bottom: 100px;
}

.works-container {
    max-width: 1170px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.work-box {
    max-width: 362px;
    max-height: 250px;
    cursor: pointer;
    padding-left: 0;
    padding-right: 0;
    margin-top: 10px;
    margin-left: 10px;
}

#rb-grid li {
    list-style-type: none;
}

.work-box:last-child {
    margin-right: 0;
}

.rb-overlay {
	opacity: 0;
	position: fixed;
    background-color: #fff;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	z-index: -1;
	pointer-events: none;
	cursor: default;
}

.rb-close {
	position: absolute;
    background-color: transparent;
	top: 0.4em;
	right: 0.4em;
	width: 2em;
	height: 2em;
	text-indent: -9000px;
	cursor: pointer;
	z-index: 1000;
}

.rb-close::before {
	content: 'x';
	font-weight: 500;
    color: #f0f2f7;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: 3em;
	line-height: 0.6;
	text-align: center;
	text-indent: 0px;
}

.works-container figure {
	position: relative;
	float: left;
	overflow: hidden;
	max-width: 480px;
	max-height: 360px;
	background: #e74c3c;
	text-align: center;
	cursor: pointer;
}

.works-container figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 1;
}

.works-container figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.works-container figure figcaption::before,
.works-container figure figcaption::after {
	pointer-events: none;
}

.works-container figure figcaption,
.works-container figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.works-container figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.works-container figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.works-container figure h2 span {
	font-weight: 800;
}

.works-container figure h2,
.works-container figure p {
	margin: 0;
}

.works-container figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/* Project */
#project {
    max-width: 1170px;
    margin: 0 auto;
}

.project-bg {
    background: url('../images/work-desc-bg.jpg') no-repeat;
    background-size: cover;
}

.project-top {
    position: absolute;
    top: 0;
    width: 100%;
}

.project-top-content {
    position: relative;
    max-width: 980px;
    margin: 0 auto;
}

.project-top-content>.row {
    margin-top: 50px;
}

.project-top-content h1 {
    color: #e74c3c;
    text-align: center;
}

.project-top-content p {
    color: #f0f2f7;
}

.project-top-content ul li {
    color: #f0f2f7;
    padding: 20px 20px;
    border-bottom: 1px solid #fff;
    text-transform: uppercase;
}

.project-top-content ul li:first-child {
    border-top: 1px solid #fff;
}

.project-top-content a.btn {
    float: right;
}

.project-top-content .btn-lg {
    padding: 7px 15px;
}

.project-bottom {
    position: absolute;
    width: 100%;
    height: 350px;
    background-color: #fff;
    bottom: 0;
    transition: bottom 0.5s linear;
}

.project-bottom:hover {
    bottom: 0 !important;
}

.project-bottom-content {
    position: relative;
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 15px;
}

/* Contact */
#contact {
    max-width: 1170px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.contact-list ul {
    list-style-type: none;
    margin-top: 40px;
}

.contact-list p {
    display: inline-block;
    margin-left: 20px;
}

.contact-list a {
    color: #7e878f;
}

.contact-list li i {
    border-radius: 25px;
    color: #fff;
    height: 42px;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    width: 42px;
    background-color: #e74c3c;
}

.contact-list .fa-linkedin:before, .contact-list .fa-download:before {
    margin-right: 0;
}

.contact-list .fa-phone:before, .contact-list .fa-map-marker:before {
    vertical-align: middle;
}

a.download, a.download:hover {
    color: #e74c3c;
}

/* Form */
input, textarea {
    display: block;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 2%;
    background-color: #f2f2f2;
    padding: 20px;
}

input {
    margin-bottom: 20px;
}

form {
    margin-top: 40px;
}

textarea {
    resize: none;
}

.contact-form .btn-lg {
    padding: 15px 25px;
}

/* Map */
#map {
    height: 495px;
    width: 100%;
    margin-top: 50px;
}

/* Footer */
#footer {
    background-color: #353c4f;
    width: 100%;
}

.footer-content p {
    text-align: center;
    color: #fff;
    padding: 90px 0;
}
